.about-section {
  padding: 85px 0;
  align-items: center!important;
  color: var(--font-color);
  justify-content: space-between;
}

.about-content {
  padding-left: 0;
  width: 100%;
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

.about-content span {
  font-size: 16px;
  color: #ddd;
  font-weight: 600;
  text-transform: capitalize;
}

.about-site-title h2 {
  font-family: 'Oswald', sans-serif!important;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  margin-top: 15px;
}

.about-site-title h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #333;
  border-radius: 20px;
}

.about-content h3 {
  font-family: 'Oswald', sans-serif!important;
}

.about-content p {
  margin-bottom: 20px;
  color: rgb(153, 153, 153);
}

.about-btn {
  font-family: 'Oswald', sans-serif!important;
  margin-top: 30px;
}

.about-img {
  text-align: right;
  padding: 15px 0;
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.about-img img {
  padding: 15px;
  border: 1px solid #333;
}

.progress {
  background-color: #202020!important;
  border-radius: 0!important;
  margin: 10px 0;
}

.progress-bar {
  background-color: #1c1c1c!important;
}
