#contact {
  font-family: 'Heboo', sans-serif!important;
}

#contact h1 {
  font-family: 'Oswald', sans-serif!important;  
  font-size: 3.2rem;
}

#contact h2 {
  font-family: 'Oswald', sans-serif!important;
}

#contact h3 {
  font-family: 'Oswald', sans-serif!important;
}

.form-control {
  border: none!important;
  border-radius: 0!important;
  background-color: var(--background-color)!important;
}

.contact-btn {
  font-family: 'Oswald', sans-serif!important;
}

input, textarea {
  color: var(--font-color)!important;
}

.contact-copyright {
  padding-top: 40px;
  text-align: center;
}
