body {
  background-color: var(--background-color) !important;
  font-family: 'Heebo', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: var(--font-color)!important;
}

:root {
  --background-color:rgb(17, 17, 17);
  --background-offcanvas: rgb(25, 25, 25);
  --font-color: hsl(0, 0%, 100%);
  --font-color-hover: hsl(210, 11%, 15%);
}

img {
  max-width: 100%;
}

.btn {
  height: 60px;
  border: 1px solid hsla(0,0%,40%,.8) !important;
  border-radius: 0rem!important;
  padding: 0 30px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .3s;
}

.btn:hover {
  color: var(--font-color)!important;
  background-color: var(--font-color-hover) !important;
}

